/*  your css code here. If applicable */
.testimonials {
	padding: 8px;
	background-color: rgba(230, 230, 230, 0.8);
}
.testimonial {
	padding: 6px;
	border: 1px solid black;
	background-color: white;
}
.testimonial :last-child {
	text-align: right;
	font-style: italic;
}